<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (c) 2022 대진기술정보(주) All Rights Reserved
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="kr.djgis.sspfs">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_dj"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/NAVER_CLIENT_ID" />

        <activity
            android:name="kr.djgis.sspfs.ui.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- App links for http/s -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="example.android.com" />
                <data android:pathPattern="/camerax" />
            </intent-filter>
        </activity>

        <!-- FileProvider used to share photos with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
